openapi: 3.2.0
info:
  title: 4chan Read-Only JSON Archive API
  description: Read-only JSON API for the 4chan and 4channel imageboards, originally launched in September 2012.
  version: '2026-05-28'
  termsOfService: https://github.com/4chan/4chan-API#api-terms-of-service
  contact:
    name: 4chan API
    email: api@4chan.org
    url: https://github.com/4chan/4chan-API
  license:
    name: 4chan API Terms of Service
    url: https://github.com/4chan/4chan-API#api-terms-of-service
  x-generated-from: documentation
  x-source-url: https://github.com/4chan/4chan-API
  x-last-validated: '2026-05-28'
servers:
- url: https://a.4cdn.org
  description: Production 4chan read-only JSON API (HTTPS).
- url: http://a.4cdn.org
  description: Production 4chan read-only JSON API (HTTP, legacy clients only).
tags:
- name: Archive
  description: Per-board list of OP numbers for closed, archived threads.
paths:
  /{board}/archive.json:
    get:
      operationId: getBoardArchive
      summary: 4chan Get Board Archive
      description: Returns the list of archived (closed, read-only) thread OP numbers for the given board. Archived threads remain viewable until 4chan automatically deletes them. Not every board has archives enabled — boards without an archive return 404.
      tags:
      - Archive
      parameters:
      - $ref: '#/components/parameters/BoardPath'
      responses:
        '200':
          description: Successful response. Returns an array of archived OP numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveResponse'
              examples:
                GetBoardArchive200Example:
                  summary: Default getBoardArchive 200 response
                  x-microcks-default: true
                  value:
                  - 571958
                  - 572866
                  - 574195
                  - 574342
                  - 574378
                  - 574398
                  - 574417
                  - 574426
                  - 574435
                  - 574453
                  - 574486
                  - 574510
                  - 574586
                  - 574588
        '304':
          description: Not Modified.
        '404':
          description: Board not found or archive not enabled for this board.
        '503':
          description: Service Unavailable.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ArchiveResponse:
      type: array
      description: Top-level response from `/{board}/archive.json` — an array of archived OP numbers.
      items:
        type: integer
        description: An archived OP ID.
        example: 571958
  parameters:
    BoardPath:
      name: board
      in: path
      required: true
      description: Board directory short name (e.g. `a`, `b`, `g`, `pol`, `po`, `v`). The full list of valid values is the `board` field on each entry in `/boards.json`.
      schema:
        type: string
        pattern: ^[a-z0-9]+$
        minLength: 1
        maxLength: 8
        example: po
      example: po
